body{
    font-family: 'Poppins', sans-serif;
}
label{
    cursor: pointer;
}
label span{
    font-size: 12px;
}
.bi-paperclip{
    font-size: 20px;
}

#valid-subject,
#valid-email,
#valid-message
{
    color: red;
    font-size: 11px;
    display: none;
    padding-top: 5px;
}