{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'send_mail.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Envoie mail par celery</title>
</head>
<body>
    <div class="container p-4">
        <div class='d-flex justify-content-between border-bottom mb-5'>
            <p><img src="{% static 'favicon.png' %}" alt="favicon.png" class='img-fluid'>  Messagerie</p>
        </div>
        {% if messages %}
        {% for message in messages %}
            <div class="alert {{message.tags}} text-center mt-3">{{message}}</div>
        {% endfor %}
        {% endif %}
        <form action="" method="post" id='form'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="subject" class='form-label'>Objet</label>
                <input type="text" class='form-control' id='subject' name='subject'>
                <small id='valid-subject'></small>
            </div>
            <div class="mb-3">
                <label for="email" class='form-label'>Adresse mail</label>
                <input type="email" class='form-control' id='email' name='email'>
                <small id='valid-email'></small>
            </div>
             <div class="mb-3">
                <label for="message" class='form-label'>Message</label>
                <textarea name="message" id="message" rows="4" class='form-control'></textarea>
                 <small id='valid-message'></small>
            </div>
            <button class='w-100 btn btn-dark'>Envoyer</button>
        </form>
    </div>
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'send_mail.js' %}"></script>
</body>
</html>